body {
    margin: 0;
    overflow: hidden;
  }


  h1{
    /* position: absolute; */
    text-align: center;
    /* padding-left: 3%; */
    font-family: 'Courier New', Courier, monospace;


}
  
  #container {
    position: absolute;
  }
  
  
  .circle {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #volume-display {
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }



  #submit {
    background-color: #4CAF50; 
    border: dotted black;
    color: white;
    position: fixed;
    top: 17%;
    left: 47%;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  
  #submit:hover {
    background-color: red;
  }
  